body {
  background-color: #0f0e17;
  color: #a7a9be;
  height: 100%;
  margin: 0;
  width: 100%;
}

.container {
  width: 100%;
}

#headline {
  color: #fffffe;
}

#card-likeButton {
  display: flex;
  justify-content: center;
}

#card-likeButton button {
  background-color: #ff8906;
  color: #fffffe
}

#banner {
  background-image: url(bzrp.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  align-content: center;
  border: 1px solid #ff8906;
  margin: 10px;
}

#card-content {
  max-width: 225px;
}
