body {
  background-color: #0f0e17;
  color: #a7a9be;
  height: 100%;
  margin: 0;
  width: 100%;
}

.container {
  width: 100%;
}

#headline-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#headline {
  color: #fffffe;
  max-width: 1350px;
}

#card-likeButton {
  display: flex;
  justify-content: center;
}

#card-likeButton button {
  background-color: #ff8906;
  color: #fffffe;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  border-radius: 10rem;
}

#banner {
  margin-top: 30px;
  background-image: url(bzrp.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  align-content: center;
  margin: 10px;
  border: 1px solid #fffffe;
}

#card-content {
  max-width: 225px;
}

.like-border {
  border: 3px solid #ff8906;
}
